@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .font-pixel {
    font-family: 'Pixelify Sans', cursive;
  }
  .xsm {
    @media (width >= 20rem /* 640px */) {
        display: none;
    }
  }

  .blur-max {
    --tw-blur: blur(100px):
  }
}

@keyframes right {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes top {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bot {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-right {
  animation: right 0.6s ease-in-out forwards;
}

.animation-left {
  animation: left 0.6s ease-in-out forwards ;
  animation-delay: 0.6s;
}

.animation-top {
  animation: top 0.6s ease-in-out forwards;
  animation-delay: 1.1s;
}

.animation-bot {
  animation: bot 0.6s ease-in-out forwards;
  animation-delay: 1.1s;
}

.fade-1 {
  animation: fade 0.6s ease-in-out forwards;
}

.fade-2 {
  animation: fade 0.6s ease-in-out forwards;
  animation-delay: 0.2s;
}

.fade-3 {
  animation: fade 0.6s ease-in-out forwards;
  animation-delay: 0.3s;
}

.fade-4 {
  animation: fade 0.6s ease-in-out forwards;
  animation-delay: 1.1s;
}
.fade-5 {
  animation: fade 0.6s ease-in-out forwards;
  animation-delay: 1.6s;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 15s linear infinite;
}